.wallet-card{
    background-color: #E1E1E5;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to left, #E1E1E5 0%,rgba(255,255,255,0) 100%);
    padding:20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.25);
    .balance{
        margin-top: 15px;
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 40px;
        i{
            margin-right:20px;
            cursor: pointer;
        }
    }
    .close-wallet{
        transition: all 0.5s ease 0s;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 25px;
        cursor: pointer;
        &:hover{
            color: $gray-dark;
        }
    }
    .active{
        color: $gray-dark;
        display:block;
        font-size: 0.8em;
        line-height: 1.25em;
        margin-bottom:15px;
        font-weight: 500;
        &:before{
            content: '';
            position: relative;
            top: -2px;
            height: 9px;
            border-radius: 100em;
            display: inline-block;
            width: 9px;
            background: $success;
            margin-right: 15px;
            box-shadow: 0px 0px 0px 3px rgba(43,181,38,0.25);
        }
    }
    a{
        color: $blue-dark;
        font-weight: 500;
        &:hover{
            color: $gray-dark;
        }
    }
}